.purple-line {
  width: 100%;
  height: 3px;
  background-color: #42295A; }

.item.sideheader {
  height: 12vh; }

.ui.container.listing {
  margin-top: 20px; }

.ui.grid.club_card {
  margin-top: -78px; }

#logo {
  display: flex;
  align-items: center;
  padding-left: 1rem; }

.sub_menu {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-134deg, #41295A 0%, #A83279 100%);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5); }

.sub_menu .ui.basic.segment a {
  color: white;
  font-size: 1.2rem; }

.ui.icon.input input.slim {
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid white; }

.ui.top.fixed.menu.mobile {
  background-image: linear-gradient(-134deg, #41295A 0%, #A83279 100%);
  height: 12vh;
  position: relative; }

.footer {
  margin-top: 4%;
  border-top: 1px #000 solid; }

.footer .content {
  padding: 4%; }

.categories_card {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.categories_card.one {
  background-image: url("../images/categories/gastronomia.jpg"); }

.categories_card.two {
  background-image: url("../images/categories/fitness.jpg"); }

.categories_card.three {
  background-image: url("../images/categories/free_time.jpg"); }

.categories_card.four {
  background-image: url("../images/categories/travel.jpg"); }

.ui.card.cb {
  -webkit-border-image: -webkit-gradient(-180deg, #FFFFFF 0%, #FEFDFF 100%); }

.ui.card > .image.coupon_cover > img {
  height: 120px; }

.six.wide.column.l, .ten.wide.column.r.dt {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }

.twelve.wide.column.title, .ten.wide.column.r.dt {
  display: flex;
  align-items: center; }

.ten.wide.column.r.dt {
  justify-content: center; }

.ui.mini.circular.image.business {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5); }

h3.card_title {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.six.wide.column.l span {
  font-size: 10px; }

/*# sourceMappingURL=main.css.map */
